.card-body {
    background: rgba( 232, 99, 10, 0.5 );
    box-shadow: 0 0px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    margin: 10px 5px;
    padding: 5px 10px;

    font-size: 17px;
}

.card-img-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.card-img {
    width: 49%;
    border-radius: 10px;
}

blockquote {
    background: rgb(223, 222, 222, 0.5);
    border-left: 10px solid rgb(165, 165, 165);
    margin: 0px 10px;
    padding: 5px 5px;
    /* quotes: "\201C""\201D""\2018""\2019"; */
}

blockquote > p {
    margin: 0px;
}

.card-body > ul {
    margin-bottom: 10px;
}

.card-body > h3 {
    margin: 0px;
}

.card-body > p {
    margin-bottom: 0px;
}
