.App {
  padding: 20px 1rem;
}

.App-header {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 5px 10px;
}

.App-header-text {
  font-size: 50px;
  color: #FFB562;
  margin: 0px;
}

.log {
  margin: 10px 10px;
  padding: 5px;
  width: 1000px;

  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.log-header {
  font-size: 50px;
  color: #FFB562;
  padding: 0px 10px;
  margin: 0px;
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 0px;
  }

  .log {
    width: fit-content;
    margin: 5px;
  }
}
